---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
import Header from "../components/Header.astro";
---

<Layout title="SpacesX Launches">
  <!-- <h1>SpaceX Launches &nbsp;<span style="font-size: 30px;">&#x1F680;</span> &#x1F318;</h1> -->
  <!-- <Header/> -->
  La pagina principal
</Layout>
